@using vagtplanen.Shared.Models;
@using vagtplanen.Client.Components.Volunteer_components;
@using vagtplanen.Client.Components.Team_components;
@inject HttpClient Http
@inject NavigationManager uriHelper

<EditForm Model="@tea">
    <h1>Velkommen @tea.name</h1>

    <RadzenCard class="w-6">
        <div class="row">
            <RadzenCard class="w-7">
                <div class="row">
                    <div class="col-md-10">
                        <b>Ledige vagter:</b>
                        <div>Her kan du ser tilgængelige ledige vagter</div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" @onclick="() => OpenAvailableTeamtasksDialog()">Se</button>
                    </div>
                </div>
            </RadzenCard >
            <RadzenCard class="w-7">
                <div class="row">
                    <div class="col-md-10">
                        <b>Ledige vagter:</b>
                        <div>Her kan du ser tilgængelige ledige vagter</div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success" @onclick="() => OpenTeamInfoDialog()">Se</button>
                    </div>
                </div>
            </RadzenCard>


        </div>
    </RadzenCard>

    @*<RadzenDataGrid AllowFiltering="true" AllowPaging="true" AllowSorting="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        Data="@(tea.teamtasks)" TItem="vagtplanen.Shared.Models.Task" Style="width:922px">
            <Columns>
                <RadzenDataGridColumn TItem="Shift" Property="description" Title="Beskrivelse" />
                <RadzenDataGridColumn TItem="Shift" Property="start_time" Title="Start tidspunkt" />
                <RadzenDataGridColumn TItem="Shift" Property="end_time" Title="Slut tidspunkt" />
                <RadzenDataGridColumn TItem="Shift" Property="job.area" Title="Jobområde" />
            </Columns>
        </RadzenDataGrid>*@
</EditForm>



@if (AvailableTeamtasksDialogOpen)
{
    <AvailableTeamtasks OnClose="@OnAvailableTeamtasksDialogClose"></AvailableTeamtasks>
}

@if (TeamInfoDialogOpen)
{
    <TeamInfo OnClose="@OnTeamInfoDialogClose"></TeamInfo>
}



@code {

    [Parameter] public Team tea { get; set; }


    // Kode til Available Teamtasks Modal Dialog
    public bool AvailableTeamtasksDialogOpen { get; set; }

    public void OpenAvailableTeamtasksDialog()
    {
        AvailableTeamtasksDialogOpen = true;
        StateHasChanged();
    }

    public void OnAvailableTeamtasksDialogClose(bool accepted)
    {
        AvailableTeamtasksDialogOpen = false;
        StateHasChanged();
    }

    // Kode til TeamInfo Modal Dialog
    public bool TeamInfoDialogOpen { get; set; }

    public void OpenTeamInfoDialog()
    {
        TeamInfoDialogOpen = true;
        StateHasChanged();
    }

    public void OnTeamInfoDialogClose(bool accepted)
    {
        TeamInfoDialogOpen = false;
        StateHasChanged();
    }

}
